* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 16px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #333;
  color: #fff;
}

a {
  text-decoration: none;
  color: #000;
}

.container {
  margin: auto;
  width: 600px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}

nav, header {
  margin-top: 5px;
  background-color: hsl(220, 30%, 15%);
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

nav>a,
.menu-label {
  color: #fff;
  border: 1px solid;
  border-radius: 5px;
  padding: 10px 30px;
  font-weight: 600;
}

main {
  background-color: hsl(220, 10%, 20%);
  padding: 15px;
  height: calc(100vh - 70px);
}

.menu {
  position: relative;
}

.menu-label {
  user-select: none;
  cursor: pointer;
}

#menu-check {
  display: none;
}

#menu-check:not(:checked)~.menu-list {
  display: none;
  /* Show menu when checkbox is checked */
}

.menu-list {
  background-color: white;
  position: absolute;
  width: max-content;
  top: 35px;
  left: -40px;
  display: flex;
  flex-direction: column;
  z-index: 5;
  overflow: hidden;
  border-radius: 7px;
  box-shadow: 0 5px 10px rgb(129, 129, 129);
}

.menu-list>a {
  border: 1px solid gray;
  background-color: rgb(240, 240, 240);
  padding: 10px;
}

.menu a:hover {
  background-color: white;
}

.project-links {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-top: 20px;
}

.link {
  font-size: 1.2em;
  background-color: hsl(0, 0%, 80%);
  padding: 8px 20px;
  border-radius: 5px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  transition: all 0.15s;
}

.link:hover {
  background-color: hsl(0, 0%, 100%);
  scale: 1.05;
}