.btn-container {
  text-align: center;
  margin-top: 15px;
}

h1 {
  background-color: rgba(0, 0, 0, 0.1);
}

.btn {
  padding: 10px 25px;
  border: none;
  border-radius: 4px;
  font-size: 1em;
  font-weight: 600;
  cursor: pointer;
}

.hover:hover {
  background-color: cyan;
}